<div class="jumbotron">
    <h1 class="display-5">{{ title }}</h1>
</div>

<form action="/post/create" method="post">

<div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" name="title" type="text">
</div>

<div class="form-group">
    <label for="body">Body:</label>
    <textarea class="form-control" name="body" cols="30" rows="5">
    </textarea>
</div>

<button class="btn btn-info" type="submit">Create</button>

</form>