<div class="jumbotron">
    <h3>{{ post.title }}</h3>
</div>

<div class="card my-3">
    <div class="card-body">{{ post.body }}</div>
    <div class="card-footer">
        <a class="btn btn-info" href="/post/edit/{{ post._id }}">Edit</a>
        <a class="btn btn-danger float-right" href="/post/delete/{{ post._id }}">Delete</a>
    </div>
</div>
